:root{
    --header:#1c4b82;
    --back:#082032;
    --text:#fff;
}
html{
    font-family: Poppins,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    background-color: var(--back);
    color: var(--text); 
}
.desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header);
    margin: 0px;
    padding: 20px;
    height: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .desktop-nav h1 {
    margin: 0;
    left: 0;
    right: 0;
  }
  
  .desktop-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    
  }
  
  .desktop-menu a {
    color:var(--text);
    text-decoration: none;
    margin-right:20px;
  }
  
  .desktop-menu li {
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: transform .5s;
    transform: skewX(0);
    transform-origin: right;

  }
  .desktop-menu li:hover{
    color: #dd6b4b;
    width: (2,2);
  }
  .desktop-menu li:hover::after{
    transform: scaleX(1);
    transform-origin: left;
  }

  .welcome{
    text-align: center;
    margin-top: 80px;

  }
  .pic img{
    border:2px solid #dd6b4b ;
    
    width: 20%;
    height: auto;
    border-radius: 50%;
    margin-left: 40%;
    margin-right: 40%;
  }
  .links{
    display: flexbox;
    justify-content: center;
    text-align: center;

  }
  .links img{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .links a:hover{
    color: #e4cac2;
  }
  .links a:hover img {
    filter: brightness(100%) hue-rotate(180deg);
    }
 .intro{
    text-align: center;
    margin: 50px 100px 100px 100px;
    padding: 10px;
 }
 footer{
    text-align: center;
    background-color: var(--header);
    border: #1c4b82;
    
 }
 footer .p1{
    padding: 20px;
 }
 #f-links{
    display: flexbox;
    justify-content: center;
    text-align: center;
 }
 #f-links img{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    
 }
.project-item{
  margin-bottom: 100px;
    margin-top: 50px;

}
.project-item h1{
    display: block;
    text-align: center;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.project-item h2{
  display: block;
  text-align: center;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.projects .project{
  background-color: #1c4b82;
  border-radius: 20px;
  box-sizing: border-box;
  flex-basis: 5%;
  flex-wrap: wrap;
  margin: 10px;
}
.projects>div {
  flex: 50% ;
}
.project {
  padding: 20px;
}
.project p{
  display: block;
  text-align: center;
  font-weight: bold;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.project a{
  display: flex;
  justify-content: center;

}
.skills{
  list-style: none;
  margin: auto;
  text-align: left;
  width: 70%;
}
.skills ul{
  
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.skills li{
  background-color: #dd6b4b;
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
}
.contact{
  margin-bottom: 100px;
  display: block;
  
}
.contact ul{
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
    
}
.b li{
  color: #fff;
    list-style: none;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 300px;
    text-align: center;
    border: 2px solid #1c4b82;
    background-color: #1c4b82;
    margin-bottom: 20px;
    
}
.b a {
  background-color: #1c4b82;
  cursor: pointer;
  text-decoration: none;


}
.b a:hover {
  background-color: #76a9d3;
  border-color: #76a9d3;
  }
  
  .b li:hover {
  background-color: #76a9d3;
  filter: brightness(90%) hue-rotate(180deg);
  }
@media only screen and (max-width: 576px) {

  .desktop-nav {
    flex-direction: column;
    padding: 10px;
    height: auto;
  }
  
  .desktop-menu {
    flex-direction: column;
    margin-top: 10px;
  }
  
  .desktop-menu li {
    display: block;
    margin: 5px 0;
    padding: 5px;
    border-radius: 0;
  }

  .menu-icon {
    display: block;
  }
  
  .desktop-nav h1 {
    margin-top: 0;
  }
  
  .desktop-menu a {
    margin-right: 0;
  }
  
  .desktop-nav .logo {
    margin-top: 10px;
  }
}
